@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@3/distr/fira_code.css);
html {
	scroll-behavior: smooth;
	line-height: 1.5;
	font-family: "Fira Code", monospace;
	font-feature-settings: "ss01" 1, "kern" 1, "liga" 1, "zero" 1, "cv03" 1,
		"cv02" 1, "cv04" 1, "tnum" 1;
	font-size: 18px;
}
body {
	min-width: 0;
	margin: 30px;
}
main {
	max-width: 100%;
	word-wrap: break-word;
	display: block;
	text-align: left;
}
table {
	border-spacing: 1px;
	display: table;
	width: 100%;
	border-collapse: separate;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
td {
	display: table-cell;
	vertical-align: inherit;
}
a,
a:active,
a:hover,
a:visited {
	transition: ease 0.2s;
	color: var(--light-black);
}
h1,
h2,
h3,
h4 {
	line-height: 1.2;
}
h1 {
	font-size: 1.8rem;
}
h2 {
	font-size: 1.6rem;
}
h3 {
	font-size: 1.4rem;
}
h4 {
	font-size: 1.2rem;
}
h1,
h2,
h3 {
	margin: 0;
	margin-top: 3rem;
}
h4,
h5,
h6 {
	margin: 0;
	margin-top: 1.5rem;
}

td.item-date {
	color: grey;
	width: 180px;
}

td.item-source {
	width: 20%;
}