{% extends "index.html" %}

{% block ptitle %}{{ page.title | safe }} - ~kiedtl{% endblock ptitle %}
{% block homelink %}
<table>
	<thead></thead>
	<tbody>
		<tr>
			<td align="left">{{ config.extra.homelink | safe }}</td>
			<td align="right">{{ page.reading_time }} min</td>
		</tr>
	</tbody>
</table>
<hr>
{% endblock homelink %}
{% block title %}{{ page.title | safe }}{% endblock title %}
{% block content %}{{ page.content | safe }}{% endblock content %}
{% block posts %}{% endblock posts %}
{% block footer %}
{{ config.extra.footer_blog | safe }}
{{ config.extra.footer | safe }}
{% endblock footer %}
