<!DOCTYPE html>
<html lang="en-us">
	<head>
		{% block headers %}{{ config.extra.headers | safe }}{% endblock title %}
		<link href="{% block fav %}{{ config.extra.favicon | safe }}{% endblock fav %}, rel=icon type=image/png>
		<title>{% block ptitle %}{{ section.title | safe }}{% endblock ptitle %}</title>
		<style>
			{% block styles %}
			{{ config.extra.style | safe }}
			{% endblock styles %}
		</style>
	</head>
	<body>
		<main>
			{% block homelink %}
			{{ config.extra.homelink | safe }}
			{% endblock homelink %}

			{% block content %}
			{{ section.content | safe }}
			{% endblock content %}
		</main>
		
		{% block footer %}
		{{ config.extra.footer | safe }}
		{% endblock footer %}
	</body>
</html>
